body {
  background-color: aqua;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.text-center {
  text-align: center;
  color: #4a4e69;
  font-weight: 300;
  font-family: sans-serif;
}
.text-center img {
  width: 200px;
  border-radius: 50px;
  align-items: center;
  margin-right: 10px;
}
.row-1 {
  border: 30px white;
  padding: 6px;
  margin: 20px;
  background-color: white;
  color: black;
}
h2 {
  font-style: italic;
  text-align: center;
}
