* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: aqua;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.text-center {
  text-align: center;
}
.text-center img {
  width: 200px;
  border-radius: 50px;
  align-items: center;
  margin-right: 10px;
}
