@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: aqua;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-center {
  text-align: center;
  color: #4a4e69;
  font-weight: 300;
  font-family: sans-serif;
}
.text-center img {
  width: 200px;
  border-radius: 50px;
  align-items: center;
  margin-right: 10px;
}
.row-1 {
  border-radius: 50px;
  margin-bottom: green;
  border: 30px white;
  padding: 6px;
  margin: 20px;
  background-color: white;
  color: black;
}
h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.column {
  width: 220px;
  float: left;
  padding: 15px;
  background-color: rgb(80, 153, 77);
  color: aliceblue;
}
